div
{
    /* border: dotted #09a9d1 1px; */
}
.icons
{
    height: 60px;
    padding-top: auto;
    justify-content: center;

    color:#fff;
    background-color: #000;
    align-content:center;
    /* border-radius: 5px; */
    /* border: 1px #fff solid; */
}
#icons a
{
    text-decoration:none;
}
#search
{
    height:max-content;
    color:#fff;
    background-color: black;
    padding-left:5px;
    padding-bottom: 100%;
    /* text-align: left; */
    justify-content: left;
}
#search input
{
    margin:10px auto;
    width:85%;
    margin-bottom:10px;
}
.title
{
    height: 50px;
    margin-top: 5px;
    text-align: center;

    color:whitesmoke;
/*    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    background-color: rgb(16, 139, 98);
    border-bottom: 1px black solid;
    border-top: 1px black solid;
/*    border-radius: 20px;*/
}

#logo
{
    justify-content: center;

    max-width:100%;
    height:auto;
    color:#000;
    background-color: #fff;
    border-right: 1px #000 solid;
    border-left: 1px #000 solid;
}
#top-views
{
    padding-top:20px;
    /* padding-left:10%; */
    margin-left:10%;
}
#U-name
{
    justify-content: center;

    background-color: rgb(16, 139, 98);
    height:auto;
    padding-top:1px;
    /* margin-top: 2px; */
    /* border: 1px #000 solid; */
}

.icons:hover
{
    background-color: rgb(37, 37, 37);
    /* color:#000; */
    /* border: 1px black solid;   */
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.center {
padding: 250px;
position: relative;
text-align: center;
  }
   /*
.center h2 {
margin: 0;
position: absolute;
top: 40%;
left: 40%;

}

.center button {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%. -50%);
transform: translate(-50%. -50%);
}
*/
body {font-family: Arial, Helvetica, sans-serif;}



/* Full-width input fields */
/*input[type=text], input[type=password] */
.custom-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #e3cff7;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
 
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
 
}

img.avatar {
  
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}

.container {
  padding: 16px;
  height: 250px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@keyframes slideLeft{
	0%{
	transform: translateX(-100%);
	}
	100%{
	transform: translateX(0);
	}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body {
	animation: 1s ease-out 0s 1 slideLeft;
}	

.bsize{
height: 50px;
width: 100px;
}

.dashbutton{
width: 300px;
height: 200px;
box-shadow: 5px 5px 13px black;
}

.indash{
	background-color: #badff5 !important;
	color: black !important;

}

