[Unit]
Description=Set vncserver passwd and start vncserver on user's port 

[Service]
# consider the unit to be active if the start action exited successfully
RemainAfterExit=yes
# VNCP=4
EnvironmentFile=/etc/systemd/system/containers/inst-%i.conf
# sets vncserver password and starts vncserver on user's port
ExecStart=/etc/systemd/system/scripts/setvncpass.sh %i ${VNCP}


