[Unit]
Description=Network bridge br%i
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=yes
# netns/bridge123.conf stores ip:
# BR_IP=10.0.123.1/24
EnvironmentFile=/etc/systemd/system/netns/bridge-%i.conf

# create bridge
ExecStart=/sbin/ip link add br%i type bridge

# assign bridge ip
ExecStart=/sbin/ip link set br%i  up
ExecStart=/sbin/ip addr add ${BR_IP} dev br%i 

[Install]
WantedBy=multi-user.target
